@font-face {
  font-family: 'KyivTypeTitling';
  src: url('fonts/WOFF/KyivTypeTitling-Heavy2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #D2D2D2;
}

html {
  scroll-behavior: smooth;
  font-family: 'PT Serif', serif;
  font-weight: 300;

  .burger-menu {
    position: fixed;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(4, 4, 4, 0.2), rgba(4, 4, 4, 0.8), rgba(55, 4, 6, 0.8));
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    justify-content: left;
    align-items: center;
    display: flex; /* Видимый блок, но перемещаем его за экран */


    .menu-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;


      li {
        margin-bottom: 25px;

        a {
          font-size: 25px;
        }
      }

    }
  }

  .burger-menu.open { /* Исправленный селектор */
    transform: translateY(0); /* Открытое состояние */
  }

  h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  a {
    text-decoration: none;
    color: #D2D2D2;
    font-size: 16px;
    @media (min-width: 360px) and (max-width: 1440px) {
      font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1440 - 360)));
    }
  }

  h2 {
    font-family: "KyivTypeTitling", sans-serif;
    color: #AC000A;
  }

  .sectionContentWrapper {
    max-width: 1240px;
    margin: auto;

    @media (min-width: 360px) and (max-width: 1440px) {
      max-width: calc(320px + (1240 - 320) * ((100vw - 360px) / (1440 - 360)));
    }
  }


  .section1 {
    padding: 41px 0 0 0;
    background-color: black;
    background-image: url("images/hero_banner.png");
    width: 100%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: 360px) and (max-width: 768px) {
      background-image: url("images/hero_banner2.png");
      padding: 10px 0 0 0;
    }

    .headerContainer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 100px;
      align-items: center;
      @media (min-width: 360px) and (max-width: 1440px) {
        padding-bottom: 30px;
      }

      h2 {
        font-size: 36px;
        @media (min-width: 360px) and (max-width: 1440px) {
          font-size: calc(20px + (36 - 20) * ((100vw - 360px) / (1440 - 360)));
        }
      }

      ul {
        display: flex;

        li {
          list-style: none;
          margin-right: 14px;
          margin-left: 14px;
          @media (min-width: 1024px) and (max-width: 1440px) {
            margin-right: calc(5px + (14 - 5) * ((100vw - 1024px) / (1440 - 1024)));
            margin-left: calc(5px + (14 - 5) * ((100vw - 1024px) / (1440 - 1024)));
          }
        }
      }

      .btnWrapper {
        position: relative;

        .headerImg {
          max-width: 208px;
          @media (min-width: 360px) and (max-width: 1440px) {
            max-width: calc(100px + (208 - 100) * ((100vw - 360px) / (1440 - 360)));
          }
        }

        .section1HeaderBtn {
          background: none;
          border: none;
          outline: none;
          color: #556DD9;
          width: 100%;
          font-size: 18px;
          position: absolute;
          top: 23px;
          left: 5px;
          @media (min-width: 360px) and (max-width: 1440px) {
            top: calc(11px + (23 - 11) * ((100vw - 360px) / (1440 - 360)));
            font-size: calc(10px + (18 - 10) * ((100vw - 360px) / (1440 - 360)));
            left: calc(0px + (5 - 0) * ((100vw - 360px) / (1440 - 360)));
          }
        }
      }

      ul {
        @media (max-width: 1024px) {
          display: none;
        }
      }

      .burgerMenuIcon {
        z-index: 100;
        @media (min-width: 1025px) {
          display: none;
        }
      }
    }

    .section1Content {
      display: flex;
      flex-direction: column;

      .section1ContentTextWrapper {
        position: relative;
        margin-bottom: 100px;

        @media (min-width: 360px) and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        @media (min-width: 360px) and (max-width: 1024px) {
          margin-bottom: calc(200px + (100 - 200) * ((100vw - 360px) / (1024 - 360)));
        }

        .headerImgBg {
          position: absolute;
          top: 90px;
          left: -60px;
          z-index: 0;
          @media (min-width: 360px) and (max-width: 1440px) {
            top: calc(40px + (90 - 40) * ((100vw - 360px) / (1440 - 360)));
            left: calc(-10px + (-60 + 10) * ((100vw - 360px) / (1440 - 360)));
            max-width: calc(276px + (702 - 276) * ((100vw - 360px) / (1440 - 360)));;
          }
          @media (min-width: 360px) and (max-width: 768px) {
            left: calc(20px + (70 + 20) * ((100vw - 360px) / (768 - 360)));
          }
        }

        h2 {
          position: relative;
          z-index: 10;
          font-size: 130px;
          padding-bottom: 36px;
          @media (min-width: 360px) and (max-width: 1440px) {
            font-size: calc(52px + (130 - 52) * ((100vw - 360px) / (1440 - 360)));
          }
        }

        h1 {
          font-size: 44px;
          max-width: 777px;
          @media (min-width: 360px) and (max-width: 1440px) {
            font-size: calc(18px + (44 - 18) * ((100vw - 360px) / (1440 - 360)));
          }
        }
      }

      .btnMoreWrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .btnMore {
          background: none;
          border: none;
          outline: none;
          color: #556DD9;
        }

        .headerImgArrow {
          max-width: 70px;
        }
      }

    }
  }

  .section2 {
    background: linear-gradient(to right, #040404, #370406);
    width: 100%;
    padding: 120px 0;
    @media (min-width: 360px) and (max-width: 768px) {
      padding: 60px 0;
    }

    .sectionContentWrapper {
      display: flex;
      @media (min-width: 360px) and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }

      .section2ImgWrapper {
        position: relative;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 360px) and (max-width: 1024px) {
          order: 2;
        }

        .section2ImgWrapperImg1, {
          position: absolute;
          top: 0;
          left: -70px;
          z-index: 0;
          @media (min-width: 360px) and (max-width: 1024px) {
            max-width: calc(320px + (600 - 320) * ((100vw - 360px) / (1024 - 360)));
          }
        }

        .section2ImgWrapperImg2 {
          max-width: 434px;
          z-index: 1;
          @media (min-width: 1024px) and (max-width: 1440px) {
            max-width: calc(375px + (434 - 375) * ((100vw - 1024px) / (1440 - 1024)));
          }
          @media (min-width: 360px) and (max-width: 1024px) {
            max-width: calc(203px + (375 - 203) * ((100vw - 360px) / (1024 - 360)));
          }
        }
      }

      .section2TextWrapper {
        max-width: 604px;
        z-index: 1;
        @media (min-width: 360px) and (max-width: 768px) {
          order: 1;
        }
        @media (min-width: 1024px) and (max-width: 1440px) {
          max-width: calc(375px + (465 - 375) * ((100vw - 1024px) / (1440 - 1024)));
        }
        @media (min-width: 360px) and (max-width: 1024px) {
          max-width: calc(300px + (900 - 300) * ((100vw - 360px) / (1024 - 360)));
        }

        h3 {
          font-size: 32px;
          font-style: italic;
          @media (min-width: 1024px) and (max-width: 1440px) {
            max-width: calc(375px + (465 - 375) * ((100vw - 1024px) / (1440 - 1024)));
          }
          @media (min-width: 360px) and (max-width: 1024px) {
            font-size: calc(18px + (32 - 18) * ((100vw - 360px) / (1024 - 360)));
            padding-bottom: 16px;
          }
        }

        .section2TextArrow {
          @media (min-width: 360px) and (max-width: 768px) {
            max-width: 240px;
            padding-bottom: 20px;
          }
        }

        h2 {
          font-size: 68px;

          @media (min-width: 360px) and (max-width: 1024px) {
            font-size: calc(44px + (68 - 44) * ((100vw - 360px) / (1024 - 360)));
          }
        }

        h4 {
          font-size: 22px;
          font-weight: bold;

        }

        p {
          font-size: 18px;
          color: #D2D2D2;

          @media (min-width: 360px) and (max-width: 1024px) {
            font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1024 - 360)));
          }
          @media (min-width: 360px) and (max-width: 768px) {
            padding-bottom: 40px;
          }
        }
      }
    }
  }

  .section3 {
    background-image: url("images/section3back.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    padding: 120px 0;
    @media (min-width: 360px) and (max-width: 768px) {
      padding: 60px 0;
    }

    .sectionContentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .section3Title {
        position: relative;

        img {
          @media (min-width: 360px) and (max-width: 768px) {
            max-width: calc(200px + (370 - 200) * ((100vw - 360px) / (1024 - 360)));
          }
        }

        h3 {
          font-family: "KyivTypeTitling", sans-serif;
          font-size: 44px;
          color: #AC000A;
          position: absolute;
          top: 0;
          left: 60px;

          @media (min-width: 360px) and (max-width: 768px) {
            font-size: calc(33px + (44 - 33) * ((100vw - 360px) / (1024 - 360)));
            left: 0;
          }
        }
      }

      .section3ContentWrapper {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 360px) and (max-width: 768px) {
          justify-content: center;
        }

        .section3ContentCart1, {
          display: flex;
          margin-bottom: 40px;
          @media (min-width: 360px) and (max-width: 768px) {
            align-items: center;
            flex-direction: column;
          }

          img {
            margin-right: 28px;
            @media (min-width: 360px) and (max-width: 768px) {
              margin-bottom: 20px;
            }
          }

          h4 {
            font-family: "KyivTypeTitling", sans-serif;
            color: #AC000A;
            margin-bottom: 12px;
          }

          p {
            max-width: 440px;
          }
        }

        .section3ContentCart2 {
          display: flex;
          margin-bottom: 40px;
          @media (min-width: 360px) and (max-width: 768px) {
            align-items: center;
            flex-direction: column;
          }

          img {
            margin-right: 28px;
            @media (min-width: 360px) and (max-width: 768px) {
              margin-bottom: 20px;
            }
          }

          h4 {
            font-family: "KyivTypeTitling", sans-serif;
            color: #AC000A;
            margin-bottom: 12px;
          }

          p {
            max-width: 440px;
          }
        }

        .section3ContentCart3 {
          display: flex;
          @media (min-width: 360px) and (max-width: 768px) {
            align-items: center;
            flex-direction: column;
          }

          img {
            margin-right: 28px;
            max-width: 132px;
            max-height: 132px;
            @media (min-width: 360px) and (max-width: 768px) {
              margin-bottom: 20px;
            }
          }

          h4 {
            font-family: "KyivTypeTitling", sans-serif;
            color: #AC000A;
            margin-bottom: 12px;
          }
        }
      }
    }

  }

  .section4 {
    background: linear-gradient(to right, #370406, #040404);
    width: 100%;
    padding: 74px 0 0 0;

    .sectionContentWrapper {
      display: flex;
      @media (min-width: 360px) and (max-width: 768px) {
        flex-direction: column;
      }

      .section4PhotoWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 360px) and (max-width: 768px) {
          order: 2;
        }

        a {
          @media (min-width: 360px) and (max-width: 1440px) {
            font-size: 16px;
          }
        }

        a::after {
          content: "";
          position: absolute;
          bottom: 7px;
          left: 52px;
          width: 45%;
          height: 10%;
          background-image: url(images/line.png);
          background-size: cover;
          background-position: center;
          z-index: 0;
        }

        .section4Photo1 {
          position: absolute;
          left: -90px;
          bottom: 5px;
          z-index: 0;
          @media (min-width: 360px) and (max-width: 768px) {
            max-width: calc(300px + (685 - 300) * ((100vw - 360px) / (768 - 360)));
            left: 0;
          }
        }

        .section4Photo2 {
          z-index: 1;
          @media (min-width: 360px) and (max-width: 768px) {
            max-width: calc(312px + (605 - 312) * ((100vw - 360px) / (768 - 360)));

          }
        }

        .section4ContentBtnWrapper {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 50px;
          right: 0;
          z-index: 2;
          @media (min-width: 360px) and (max-width: 768px) {
            bottom: 20px;
            left: 30px;
          }

          img {
            margin-right: 5px;
          }
        }
      }

      .section4ContentText {
        padding-left: 43px;
        @media (min-width: 360px) and (max-width: 768px) {
          order: 1;
          padding-left: 0;
        }

        h4 {
          font-family: "KyivTypeTitling", sans-serif;
          color: #AC000A;
          font-size: 44px;
          margin-bottom: 12px;
        }

        h5 {
          font-size: 24px;
          margin-bottom: 24px;
          font-weight: bold;
          @media (min-width: 360px) and (max-width: 768px) {
            font-size: 18px;
          }
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  .section5 {
    background-image: url("images/section5back.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    padding: 0 0 40px;

    .sectionContentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .section5Content {
        padding-top: 120px;
        display: flex;
        justify-content: center;
        @media (min-width: 360px) and (max-width: 768px) {
          max-width: calc(312px + (605 - 312) * ((100vw - 360px) / (768 - 360)));
          padding-top: calc(60px + (120 - 60) * ((100vw - 360px) / (768 - 360)));
          flex-direction: column;
        }

        .section5ContentTextWrapper {
          padding-top: 80px;
          @media (min-width: 360px) and (max-width: 768px) {
            padding-top: 0;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          h3 {
            font-family: "KyivTypeTitling", sans-serif;
            color: #AC000A;
            font-size: 44px;
            margin-bottom: 24px;
            max-width: 605px;
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(32px + (44 - 32) * ((100vw - 360px) / (768 - 360)));

            }
          }

          p {
            font-size: 18px;
            max-width: 605px;
            margin-bottom: 33px;
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: 16px;
            }
          }

          .section5ContentBtnWrapper {
            display: flex;
            align-items: center;

            img {
              margin-right: 5px;
            }

            .section5ContentBtnWrapperLink {
              position: relative;
              display: block;
              @media (min-width: 360px) and (max-width: 1440px) {
                font-size: 16px;
                margin-bottom: 44px;
              }

            }

            .section5ContentBtnWrapperLink::after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 100%;
              height: 10%;
              background-image: url(images/line.png);
              background-size: cover;
              background-position: center;
              z-index: 0;
            }
          }
        }

        .section5ContentPhoto_booksWrapper {
          position: relative;

          .price {
            position: absolute;
            left: 100px;
            @media (min-width: 360px) and (max-width: 768px) {
              max-width: calc(120px + (180 - 120) * ((100vw - 360px) / (768 - 360)));
              left: calc(0px + (100 - 0) * ((100vw - 360px) / (768 - 360)));

            }
          }

          .section5ContentPhoto_books {
            @media (min-width: 360px) and (max-width: 768px) {
              max-width: calc(312px + (605 - 312) * ((100vw - 360px) / (768 - 360)));
            }
          }
        }
      }

      .section5BtnWrapper {
        position: relative;
        top: -60px;
        @media (min-width: 360px) and (max-width: 768px) {
          top: 0;
        }

        .btnFrame {
          @media (min-width: 360px) and (max-width: 768px) {
            max-width: calc(312px + (490 - 312) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section5Btn {
          position: absolute;
          top: 20px;
          left: 60px;
          background: none;
          border: none;
          outline: none;
          color: #556DD9;
          font-size: 18px;
          font-weight: bold;
          font-family: "PT Serif", sans-serif;
          @media (min-width: 360px) and (max-width: 768px) {
            font-size: calc(12px + (18 - 12) * ((100vw - 360px) / (768 - 360)));
            top: calc(13px + (20 - 13) * ((100vw - 360px) / (768 - 360)));
            left: calc(32px + (60 - 32) * ((100vw - 360px) / (768 - 360)));
          }
        }
      }
    }

  }

  .section6 {
    background: linear-gradient(to right, #370406, #040404);
    width: 100%;
    padding: 120px 0;
    @media (min-width: 360px) and (max-width: 768px) {
      padding-bottom: calc(60px + (120 - 60) * ((100vw - 360px) / (768 - 360)));
      padding-top: calc(60px + (120 - 60) * ((100vw - 360px) / (768 - 360)));
    }

    .sectionContentWrapper {
      display: flex;
      justify-content: space-between;
      @media (min-width: 360px) and (max-width: 768px) {
        flex-direction: column;
      }

      .section6TextContent {
        .section6TextContentTitle {
          position: relative;

          h3 {
            font-family: "KyivTypeTitling", sans-serif;
            color: #AC000A;
            font-size: 44px;
            margin-bottom: 84px;
            position: relative;
            padding-left: 20px;
            z-index: 1;
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(33px + (44 - 33) * ((100vw - 360px) / (768 - 360)));
            }
          }

          img {
            position: absolute;
            top: 20px;
            z-index: 0;
            @media (min-width: 360px) and (max-width: 768px) {
              max-width: calc(312px + (730 - 312) * ((100vw - 360px) / (768 - 360)));

            }
          }
        }

        .section6ContentCart1 {
          max-width: 500px;
          margin-bottom: 54px;

          .section6ContentCart1Title {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (768 - 360)));

            }
          }

          img {
            margin-right: 16px;
          }

          .section6ContentCart1Text {
            margin-top: 32px;
          }

        }

        .section6ContentCart2 {
          max-width: 500px;
          margin-bottom: 32px;

          .section6ContentCart2Title {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (768 - 360)));

            }

            img {
              margin-right: 16px;
            }
          }

          .section6ContentCart2Text {
            margin-top: 32px;
          }
        }
      }

      .formWrapper {
        max-width: 500px;
        position: relative;

        .formTitleImg {
          position: absolute;
          top: 0;
          right: 0;
        }

        form {
          display: flex;
          flex-direction: column;

          h3 {
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 36px;
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (768 - 360)));

            }
          }

          .nameInput {
            height: 68px;
            margin-bottom: 24px;
            background: linear-gradient(90deg, rgba(172, 0, 10, 0.3) 0%, rgba(172, 0, 10, 0.1) 100%);
            border: none;
            padding-left: 24px;
          }

          .surnameInput {
            height: 68px;
            margin-bottom: 24px;
            background: linear-gradient(90deg, rgba(172, 0, 10, 0.3) 0%, rgba(172, 0, 10, 0.1) 100%);
            border: none;
            padding-left: 24px;
          }

          .mailInput {
            height: 68px;
            margin-bottom: 24px;
            background: linear-gradient(90deg, rgba(172, 0, 10, 0.3) 0%, rgba(172, 0, 10, 0.1) 100%);
            border: none;
            padding-left: 24px;
          }

          .textInput {
            height: 125px;
            margin-bottom: 32px;
            background: linear-gradient(90deg, rgba(172, 0, 10, 0.3) 0%, rgba(172, 0, 10, 0.1) 100%);
            border: none;
            padding-left: 24px;
          }

          .section6FormBtnWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .checkboxInputWrapper {
              display: flex;

              .checkboxInput {
                margin-right: 10px;
              }

              p {
                color: #754B4D;
                max-width: 211px;
                font-size: 14px;
                @media (min-width: 360px) and (max-width: 768px) {
                  font-size: 10px;
                }
              }
            }

            .btnWrapper {
              position: relative;

              .section6HeaderBtn {
                background: none;
                border: none;
                outline: none;
                color: #FFFFFF;
                width: 100%;
                font-size: 18px;
                position: absolute;
                top: 23px;
                left: 5px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    background: linear-gradient(to right, #040404, #370406);
    width: 100%;
    padding: 26px 0;


    .sectionContentWrapper {
      display: flex;
      justify-content: space-between;
      @media (min-width: 360px) and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .footerLinks {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (min-width: 360px) and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
          a {
            font-size: 16px;
          }
        }

        p {
          color: #754B4D;
        }
      }

      .footerDocsLinksWrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        a {
          color: #754B4D;
        }
      }
    }
  }
}